<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <appSettings>
    <add key="machinesPath" value="C:\ToolsManagerServer1.0\Config\machines.xml"/>
    <add key="sharedTasksPath" value="C:\ToolsManagerServer1.0\Config\sharedTasks.xml"/>
    <add key="filesOutputPath" value="C:\ToolsManagerServer1.0\filesOutput\"/>
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <buildProviders>
        <remove extension=".svc" />
        <add extension=".svc" type="System.ServiceModel.Activation.ServiceBuildProvider,System.ServiceModel, Version=3.0.0.0, Culture=neutral,PublicKeyToken=b77a5c561934e089" />
      </buildProviders>
    </compilation>
    <httpRuntime maxRequestLength="65536"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IFileUploadService" closeTimeout="01:10:00" openTimeout="01:10:00" receiveTimeout="01:10:00" sendTimeout="01:10:00" maxBufferPoolSize="104857600" maxReceivedMessageSize="104857600">
          <security mode="None">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="WSHttpBinding_IShareManagerService" closeTimeout="01:10:00" openTimeout="01:10:00" receiveTimeout="01:10:00" sendTimeout="01:10:00" maxBufferPoolSize="104857600" maxReceivedMessageSize="104857600">
          <security mode="None">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="WSHttpBinding_IMachineManagerService" closeTimeout="01:10:00" openTimeout="01:10:00" sendTimeout="01:10:00" maxBufferPoolSize="104857600" maxReceivedMessageSize="104857600">
          <security mode="None">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="ToolsManager.DataServices.Server.FileUploadService">
        <endpoint address="http://localhost/ToolsManagerServices/FileUploadService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFileUploadService" contract="ToolsManager.DataServices.Server.IFileUploadService"/>
      </service>
      <service name="ToolsManager.DataServices.Server.ShareManagerService">
        <endpoint address="http://localhost/ToolsManagerServices/ShareManagerService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IShareManagerService" contract="ToolsManager.DataServices.Server.IShareManagerService"/>
      </service>
      <service name="ToolsManager.DataServices.Server.MachineManagerService">
        <endpoint address="http://localhost/ToolsManagerServices/MachineManagerService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMachineManagerService" contract="ToolsManager.DataServices.Server.IMachineManagerService"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="false"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\ToolsManagerServer1.0\ToolsManagerLog.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <log4net>
    <appender name="LogFile" type="log4net.Appender.FileAppender">
      <file value=".\ToolsManagerServicesLog.txt" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %thread %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFile" />
    </root>
  </log4net>
</configuration>